<div class="row-head">
  <div>
    <h5>{{nameCategory}}</h5>
  </div>
  <div class="icon" [routerLink]="['/todo']">
    <h6>
      <fa-icon [icon]="backward" class="backward"></fa-icon>
      Retour
    </h6>
  </div>
</div>

<div class="all-details ">
  <div class="envie">
    <h5>Nos Envies</h5>
    <br>
    <div class="note">
      <ng-container *ngIf="!isSaving">
        <fa-icon [icon]="save" class="icon-save" (click)="saveWish(textAreaElement.value)"></fa-icon>
      </ng-container>
      <textarea placeholder="Ecrivez vos envies..."
                [value]="textAreaValue" #textAreaElement (input)="onTextAreaChange(textAreaElement.value)"></textarea>
    </div>
    <div class="table-todo">
      <div class="standby">
        <div>
          <h6 style="margin-bottom: 10%">A faire</h6>
          <ng-container *ngIf="checkInputNotEmpty(inputValue)">
            <fa-icon [icon]="check" class="icon-check" (click)="addCard()"></fa-icon>
          </ng-container>
          <div class="card-trello">
            <input placeholder="+ Ajouter une envie" class="input-trello" [(ngModel)]="inputValue"
                   (keydown.enter)="addCard()"/>
          </div>
          <ng-container *ngFor="let card of listCard">
            <div class="card-trello"
                 style="border: 1px solid orange; display: flex; flex-direction: row; justify-content: space-between">
              <div><span>{{card.name}}</span></div>
              <div style="margin-right: 15%; display:flex;flex-direction: row">
                <fa-icon [icon]="check" style="color: green;font-size: 90%;cursor: pointer;"
                         (click)="changeStateCard(card)"></fa-icon>
                <fa-icon [icon]="trash"
                         style="color: red; cursor: pointer;font-size: 90%;margin-left: 50%;"
                         (click)="deleteCard(card)"></fa-icon>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="finish">
        <div>
          <h6 style="margin-bottom: 10%">Terminé</h6>
          <ng-container *ngFor="let card of listCardFinish">
            <div class="card-trello"
                 style="border: 1px solid green; display: flex; flex-direction: row; justify-content: space-between">
              <div><span>{{card.name}}</span></div>
              <div style="margin-right: 15%;display:flex;flex-direction: row">
                <fa-icon [icon]="undo" style="color: orange; cursor: pointer;font-size: 90%;"
                         (click)="changeStateCard(card)"></fa-icon>
                <fa-icon [icon]="trash" style="color: red; cursor: pointer;font-size: 90%;margin-left: 50%;"
                         (click)="deleteCard(card)"></fa-icon>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="prestataires">
    <h5>Prestataires</h5>
    <br>
    <div class="all-prestataires">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Contact</th>
          <th scope="col">Prix</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let prestataire of listPrestataire; index as i">
          <td>{{ prestataire.name}}</td>
          <td>{{ prestataire.contact}}</td>
          <td>{{ prestataire.price || (prestataire.price !== prestataire.price ? 0 : prestataire.price) }}</td>
          <td>
            <fa-icon [icon]="trash" style="color: red; cursor: pointer;"
                     (click)="deletePrestataire(prestataire)"></fa-icon>
          </td>
        </tr>
        <tr>
          <td><input type="text" class="input-trello" style="border: 1px solid white;text-align: center"
                     placeholder="Nom" #nom></td>
          <td><input type="text" class="input-trello" style="border: 1px solid white;text-align: center"
                     placeholder="Contact" #contact></td>
          <td><input type="text" class="input-trello" style="border: 1px solid white;text-align: center"
                     placeholder="Prix" #prix></td>
          <td>
            <fa-icon [icon]="check" style="color: green;cursor: pointer;"
                     (click)="addPrestataire(nom.value,contact.value,prix.value);nom.value=''; contact.value=''; prix.value='';"></fa-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="budget" [style.background-image]="backgroundImage"></div>
  </div>
</div>

